
Thinkful-Unit-3/datasets/LoanStats3d.csv
Thinkful-Unit-3/datasets/onp.csv
Thinkful-Unit-3/datasets/2008.csv
Thinkful-Unit-3/datasets/creditcard.csv
Thinkful-Unit-3/datasets/Pet_Supplies_5.json
Thinkful-Unit-3/datasets/Eviction_Notices.csv
Thinkful-Unit-3/nyt/ArticlesApril2017.csv
Thinkful-Unit-3/nyt/ArticlesFeb2017.csv
Thinkful-Unit-3/nyt/ArticlesApril2018.csv
Thinkful-Unit-3/nyt/ArticlesFeb2018.csv
Thinkful-Unit-3/nyt/ArticlesJan2017.csv
Thinkful-Unit-3/nyt/ArticlesJan2018.csv
Thinkful-Unit-3/nyt/ArticlesMarch2017.csv
Thinkful-Unit-3/nyt/ArticlesMarch2018.csv
Thinkful-Unit-3/nyt/CommentsJan2018.csv
Thinkful-Unit-3/nyt/CommentsMarch2018.csv
Thinkful-Unit-3/nyt/CommentsMarch2017.csv
Thinkful-Unit-3/nyt/CommentsJan2017.csv
Thinkful-Unit-3/nyt/CommentsFeb2018.csv
Thinkful-Unit-3/nyt/CommentsFeb2017.csv
Thinkful-Unit-3/nyt/CommentsApril2018.csv
Thinkful-Unit-3/nyt/CommentsApril2017.csv
Thinkful-Unit-3/nyt/ArticlesMay2017.csv
Thinkful-Unit-3/nyt/CommentsMay2017.csv
